.MainContent {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .MainContent {
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .MainContent {
        align-items: center;
    }
}